<div class="ticket-container">
  <h2>Create Ticket</h2>

  <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">

    <div>
      <input type="text" placeholder="Title" formControlName="title">
    </div>

    <div>
      <textarea placeholder="Description" formControlName="description"></textarea>
    </div>

    <div>
      <select formControlName="priority">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select>
    </div>

    <button type="submit">Create Ticket</button>

  </form>
</div>